.location--list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: lightgray;
}

#location-label{
    color: #aef5d5;
    font-weight: 600;
}

.search--bar{
    position: fixed;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border: 15px;
    padding: 0px;
    background: transparent;
    background: darkgrey;
}

.input{
    display: flex;
    margin-bottom: 20px;
    width: 257px;
    height: 37px;
    background-color: #c1aef5;
    border: 1px solid #000000;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    color:gray;
}

.search--button, .thumbs-button{
    text-align: center;
    align-self: center;
    padding: auto;
    width: 100px;
    height: 37px;
    margin-bottom: 5px;
    background: #c1aef5;
    border-radius: 10px;
}

.list-cards{
    margin-top: 153px;
}

/* Card Style */
.restaurant-card{
    background-color: #aecef5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:
    "image type type"
    "image info info"
    "image info info"
    "tel . open";
    column-gap: 5px;
    border-radius: 10px;
    height: 200px;
    padding: 0px 0px 0px 0px;
    margin: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.restaurant-type{
    grid-area: type;
    display: block;
    justify-self: center;
}

.img-container{
    grid-area: image;
    border-radius: 10px;
    width:150px;
    height: 100px;
}

.restaurant-img{
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.restaurant-info{
    grid-area: info;
    text-align: center;
}

.restaurant-info p{
    margin:0;
    font-size: smaller;

}

.tel-div{
    grid-area: tel;
    display: flex;
    align-items: flex-end;
}
.phone{
    text-decoration: none;
    font-style: none;
    color: black;
    background-color: #c1aef5;
    border-radius: 25% 10%;
    padding: 10px;
}

.isOpen-div{
    grid-area: open;
    margin-left: 20px;
    justify-self: center;
}


@media only screen and (min-width: 800px)  {
    #location-label {
        margin: 10px auto 15px auto;
    }

    .list-cards {
        margin-top: 180px;
        width: 100%;
    }
 }
