.invite-div {
    display: flex;
    flex-direction: column;
    background:lightgray;
    color: white;
    padding-top:32px;
    height:max-content;
}

.submit {
    background-color: #c1aef5;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-bottom:66%;
}

.location-datetime{ 
    margin-top: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 3rem;
    margin-top: 15%;
    color: #aef5d5;
}

.location-label{
    margin-bottom: 5%;
    font-size: 1.75rem;
    color:#aef5d5;
}

.datetime-label{
    margin-bottom: 5%;
    font-size: 1.75rem;
    color: #aef5d5;
}

.datetime-input{
    margin-bottom: 15%;

}


@media only screen and (min-width: 800px)  {
   .title {
        margin-top: 50px;
   }

   .location-label {
        margin-bottom: 5px;
   }

   .datetime-label {
        margin-bottom: 5px;
   }

   .location-datetime {
        margin-top: 5px;
   }
    
   .datetime-input.input {
        margin-bottom: 40px;
   }

   .invite {
        text-align: center;
   }
    
   .invite-link {
    margin-bottom: 20px;
   }
}